<ion-view view-title="Météo du jour - {{weather.city.name}}/{{weather.city.country}}">
    <ion-content class="padding">
        <div class="padding">
            <label class="item-floating-label">Longitude : {{weather.city.coord.lon}}</label>
            <label class="item-floating-label">Latitude : {{weather.city.coord.lat}}</label>
        </div>
        <div class="list">
        <a href="#" class="item item-avatar" ng-repeat="t in list_dt" ng-click="expand($event)">
            <img src="img/{{t.weather[0].main.toLowerCase()}}.png">
            <div >
                <strong>{{t.dt*1000 | date:'EEEE'}}</strong> {{t.dt*1000 | date:'dd-MM-yy HH:mm'}}
            </div>
            <div class="temperature">{{Math.round(t.main.temp)}}°C</div>

            <!-- <i class="icon-{{t.weather[0].main.toLowerCase() }}"></i> -->
        </a>
    </ion-content>
</ion-view>
